

*{
    box-sizing: border-box;
}

html{
    height: 100%;
}

img{
    display: block;
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    /* font-family: var(); */
    /* font-weight: var(); */
    background-color: #ffff;
    overflow-x: hidden;
}
.site-main{
    flex-grow: 1;
}
.pokemons-list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    margin: 0 auto;
    padding-left: 0;
}
.pokemons-item{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 370px;
    width: 100%;
    margin: 20px;
    border-radius: 50px;
    padding: 20px;
    background-color: yellow;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    user-select: none;
}
.poke-img{
    max-width: 700px;
    width: 100%;
    margin: 20px auto;
    background-color: transparent;
    user-select: none;
}
.poke-title{
    font-size: 30px;
    font-weight: 900;
}  
.pokemons-num{
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    color: #ffff;
    padding: 10px;
    font-weight: 800;
    border-radius: 10px;
}
.poke-types{
    font-size: 30px;
    background-color: rgb(196, 228, 255);
    padding: 5px;
    border-radius: 20px;
}
.poke-time{
    position: absolute;
    bottom:0;
    left: 0;
    background-color: cyan;
    color:black;
    padding: 10px;
    border-radius: 10px;
    font-weight: 800;
}
.poke-weknes{
    color: rgb(128, 0, 124);
    font-size: 16px;
    font-weight: 900    ;
}